html,
body {
  text-align: center;
  margin: 0;
  padding: 0;
}

#test {
    display: none;
}

#books_present {
    display: none;
}

#card_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  gap: 1rem;
  padding: 1rem;
}

div[class^="card"] {
  border: 1px solid black;
  background-color: rgb(247, 255, 102);
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  font-size: 1.25rem;
  padding: 2rem 0.7rem;
}

button[class^="removeowncard"] {
  border: 1px solid rgb(218, 0, 0);
  background-color:rgb(255, 118, 118);
  border-radius: 12px;
  padding: 1rem;
  margin: 0.5rem;
}

button[class^="readstatus"] {
  border: 2px solid rgb(181, 130, 0);
  background-color:rgb(255, 233, 69);
  border-radius: 12px;
  padding: 1rem;
  margin: 0.5rem;
}